*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .image{
    background-image: url("../../../../images/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 9px;
    line-height: 2.1rem;
    box-shadow: 3px 3px 3px 3px rgb(224, 219, 219);
    border-radius: 18px;;
    /* border: 1px solid black;
    border-radius: 18px;
    box-shadow: 6px 6px #AAADFA; */
    width: 60%;
    /* background-color: rgba(238, 230, 230, 0.733); */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 400px)
{   .main-div{
        width: 96%;
    }

}
/* .background{
    height: 100vh;
    width: 100vw;
    background-color: #090E18;
    opacity: 0.84;
} */
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 15px 15px 9px 15px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 6px solid #AAADFA;
    border-radius: 30px;
    /* background-color: #AAADFA; */
}
.heading:hover{
    background-color: rgb(224, 219,219, 0.39);
    border-radius: 30px;
}
.signup-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-column: span 2;
    row-gap: 1rem;
    column-gap: 6rem;
}
.signup-btn{
    grid-column: span;
    padding: 12px;
    border: none;
    box-shadow: 3px 3px  rgb(224, 219, 219);
    border-radius: 20px;
    background-color:#AAADFA;
    cursor: pointer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: bold;
}
.signup-btn:hover{
    background-color: rgb(57, 167, 204);
    color: #ffffff;
}
.signup-form{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.error{
    color:red;
    font-size: 0.9rem;
    font-weight: 900;
}
.signup-label{
    letter-spacing: 0.2rem;
    text-align: left;
    font-weight: bold;
    color: black;
}
input{
    margin-left: 0;
    border: none;
    background-color: rgb(238, 237, 237);
    border-radius: 18px;
    padding: 6px;
    border-bottom: 2px solid black;
    /* border-right: 2px solid black; */
    outline: none;
    box-shadow:3px 3px #AAADFA;
}
input:hover{
    background-color: #ffffff;;
}
.field{
    display: flex;
    justify-content: center;
    margin-right: 0;
    float: right;
    padding: 12px;
} 
.already-user{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
}
.already-user a{
    text-decoration: none;
    color: blue;
    margin-left: 0.3rem;
    font-weight: bold;
}
.already-user a:hover{
    color: rgb(57, 167, 204);
}